body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background: #eeeee0;
  margin: 0;
}

nav {
  background: #636555;
  padding: 1em;
  width: 100%;
  text-align: center;
}

nav a {
  color: #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}